.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  position: absolute;
  width: 100%;
}
.header__navBox {
  display: flex;
  gap: 50px;
}

.one {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1900px;
}
.one__infoBox {
  position: relative;
  top: -450px;
}